﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ahaha.ge</title>

    <link rel="stylesheet" href="Content/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="~/Areas/admin/Content/styles.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="login-form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    <div class="controls">
                        <label class="login-label">UserName:</label>
                        @Html.TextBox("username")
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label class="login-label">Password:</label>
                        @Html.Password("password")
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary" value="ავტორიზაცია" />
                    </div>
                    <br />
                    @Html.Partial("_googleCaptcha")
                </div>
            </div>
        </div>
    }
</body>
</html>
