﻿@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ahaha.ge</title>

    <link rel="stylesheet" href="Content/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/Content/bootstrap-social.css">

    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

    <script type="text/javascript" src="~/Scripts/library.js"></script>
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Areas/admin/Scripts/admin.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?hl=ka" async defer></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
