﻿@using JokesLib.Models
@model IEnumerable<JokesWebsite.Models.VM.JokeVM>

@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0);">გამარჯობა @Administrator.Instance.UserName</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right mt8 claster">
                @Html.ActionLink("გასვლა", "SignOut", "Login")
            </ul>

        </div>
    </div>
</nav>

<div class="articles-wrapper">
    @foreach (var joke in Model)
    {
        <article class="navbar navbar-default" data-jokewrapper="@joke.Id">
            <div class="navbar-brand person-container">
                <div>
                    <div class="person-title fl-l">
                        <div class="person-title__text">@Html.Raw(joke.Description)</div>
                    </div>
                    <span class="pull-right person-vote">
                        <span class="fl-l mr10" data-joke-approve="@joke.Id" onclick="admin.Publish('@joke.Id')">
                            <i class="glyphicon glyphicon-ok pr5"></i>
                        </span>
                        <span class="fl-l" data-joke-remove="@joke.Id" onclick="admin.Delete('@joke.Id')">
                            <i class="glyphicon glyphicon-remove pr5"></i>
                        </span>
                    </span>
                </div>
            </div>
        </article>
    }
    @if (Model.Count() == 0)
    {
        <p class="center-text">ჩანაწერები არ მოიძებნა</p>
    }
</div>