.mt8 {
    margin-top: 8px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.person-container {
    display: table;
    width: 100%;
}

.claster span {
    position: relative;
    top: 6px;
}

.btn-blue {
    color: #fff;
    background: #3b5998;
}

    .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
        color: #fff;
    }

.t-c {
    text-align: center;
}

.w100p {
    width: 100%;
}

textarea {
    width: 100%;
    height: 250px !important;
    margin-bottom: 15px !important;
}

.d-t {
    display: table;
}

.person {
    background: none;
    border: none;
    display: table;
    width: 100%;
    clear: both;
}

.person-photo {
    float: left;
    margin-right: 15px;
    position: relative;
    padding: 5px 0px;
    overflow: hidden;
}

.person-photo__src {
    height: 60px !important;
    width: 60px !important;
    float: left;
    background: #ffffff;
    border: 5px solid #F0F0F0;
    border-radius: 50px;
    height: 62px;
    width: 62px;
}

.person-title {
    /* height: 70px;
	line-height: 70px; */
}

.person-title__text {
    padding: 10px 0 5px 0;
}

.person-vote {
    line-height: 70px;
}

    .person-vote span {
        cursor: pointer;
    }

.mr10 {
    margin-right: 10px;
}

.pr5 {
    padding-right: 5px;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.block-center {
    display: table;
    margin: 20px auto;
}

.disabled {
    opacity: 0.5;
}

.novisible {
    display: none !important;
}

.articles-wrapper {
    margin-top: 20px;
}

a {
    text-decoration: none !important;
}

.favourites {
    float: right;
}

.social-auth {
    min-width:190px;
}
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
    text-align: center;
}

.validation-summary-valid {
    display: none;
}

.center-text {
    text-align: center;
}