﻿<div class="alert alert-success">
    <p class="center-text">მადლობა. დამატება განხორციელდა წარმატებით.. თქვენი ანეგდოტი ელოდება განხილვას..</p>
</div>
<div class="form-group">
    @Html.ActionLink("ახლის დამატება", "Create", null, new { @class = "btn btn-blue mt10" })
</div>