﻿@model JokesWebsite.Models.VM.JokeVM
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <section class="navbar navbar-default">
        <div class="navbar-brand d-t w100p">
            <h3 class="t-c">დამატება</h3>
            @Html.TextAreaFor(model => model.Description, new { placeholder = "შეიყვანეთ ტექსტი(წერეთ ქართულად)", data_geokb = "true" })
            <p>
                <input type="submit" class="btn btn-blue mt10" value="დამატება" />
            </p>
            @Html.Partial("_googleCaptcha")
        </div>
    </section>
    <div>
        @Html.ActionLink("მთავარი", "Index")
    </div>
}
<script type="text/javascript" src="~/Scripts/geokb.js"></script>