﻿@using JokesWebsite.Models.VM
@using JokesLib.Models
@model IEnumerable<JokesWebsite.Models.VM.JokeVM>

@{
    bool _canShowFilter = ViewBag.PagerInfo != null && ((JokesLib.Models.PagerInfo)ViewBag.PagerInfo).TotalItems > 1
                                                    && ViewBag.SortType != null && Model.Count() != 0;

    string addToFavouritesClassName = ViewContext.RouteData.Values["action"].ToString().ToLower() == "favourites" ? "novisible" : "";
    string removeFromFavouritesClassName = addToFavouritesClassName == "novisible" ? "" : "novisible";
}
@functions {
    string GetFavouriteClassName(string jokeId)
    {
        return AuthUser.Instance.FavouriteJokes.FirstOrDefault(j => j.Id.ToString() == jokeId) != null ? "disabled" : "";
    }
}
@using (Html.BeginForm(null, null))
{
    <p>
        @Html.ActionLink("დამატება", "Create") @*, null, new { onclick = "return Joke.CheckIfAuthorized();" })*@
        @if (AuthUser.Instance.IsAuthenticated)
        { @Html.ActionLink("ფავორიტები", "Favourites", "Jokes", null, new { @class = "favourites" }) }
    </p>
    if (_canShowFilter)
    {
        <div class="dropdown">
            <select class="form-control" onchange="Joke.Sort($(this).val())" name="sortBy">
                <option value="new" selected="@(ViewBag.SortType == "PublishDT")">ახალი</option>
                <option value="popular" selected="@(ViewBag.SortType == "RateValue")">პოპულარული</option>
            </select>
        </div>
    }
    <div class="articles-wrapper">
        @foreach (var item in Model)
        {
            <article class="navbar navbar-default" data-jokecontainer="@item.Id">
                <div class="navbar-brand person-container">
                    <div>
                        <span class="close @(removeFromFavouritesClassName)"
                              onclick="Joke.RemoveFromFavourites('@(item.Id)')">&times;</span>
                        <div class="person-title fl-l">
                            <div class="person-title__text">@Html.Raw(item.Description)</div>
                        </div>
                        <span class="pull-right person-vote">
                            <span class="fl-l mr10 @(addToFavouritesClassName) @(GetFavouriteClassName(item.Id.ToString()))"
                                  data-fav-jokeid="@(item.Id)" onclick="Joke.AddToFavourites('@(item.Id)')">
                                <i class="glyphicon glyphicon-star"></i>
                            </span>
                            <span class="fl-l mr10" onclick="Joke.Rate('@(item.Id)', 1)">
                                <i data-thumb-up="@(item.Id)" class="glyphicon glyphicon-thumbs-up pr5 @(item.RateType == RateType.UpVote ? "disabled" : "")"></i>
                                <div class="fl-r" data-jokeid="@item.Id">@item.RateValue</div>
                            </span>
                            <span class="fl-l" onclick="Joke.Rate('@(item.Id)', -1)">
                                <i data-thumb-down="@(item.Id)" class="glyphicon glyphicon-thumbs-down pr5 @(item.RateType == RateType.DownVote ? "disabled" : "")"></i>
                            </span>
                        </span>
                    </div>
                </div>
            </article>
        }
        @if (Model.Count() == 0) { <p class="center-text">ჩანაწერები არ მოიძებნა</p> }
        @if (ViewBag.PagerInfo != null) { @Html.Partial("_pager", (JokesLib.Models.PagerInfo)ViewBag.PagerInfo) }
    </div>
}
