﻿@using JokesLib.Models
<div id="askToLogin" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">გთხოვთ გაიაროთ ავტორიზაცია</h4>
            </div>
            <div class="modal-body">
                <p>
                    <a href="@String.Format("/Login/Authenticate?mediaType={0}", SocialMediaType.Facebook)" class="btn btn-social btn-md btn-facebook social-auth">
                        <i class="fa fa-facebook"></i>
                        Login with Facebook
                    </a>
                </p>
                <p>
                    <a href="@String.Format("/Login/Authenticate?mediaType={0}", SocialMediaType.GooglePlus)" class="btn btn-social btn-md btn-google social-auth">
                        <i class="fa fa-google"></i>
                        Login with Google+
                    </a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">დახურვა</button>
            </div>
        </div>

    </div>
</div>