﻿@{
    Layout = null;
    bool isAuthenticated = JokesLib.Models.AuthUser.Instance.IsAuthenticated;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ahaha.ge</title>

    <link rel="stylesheet" href="Content/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/Content/bootstrap-social.css">

    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

    <script type="text/javascript" src="~/Scripts/library.js"></script>
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        @Html.Partial("_commonPartial")
        @Html.Partial("_askToLoginPopup")
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ahaha.ge</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right mt8 claster">
                        <p class="@(isAuthenticated ? "" : "novisible")">
                            გამარჯობა, @JokesLib.Models.AuthUser.Instance.FirstName
                            @Html.ActionLink("გასვლა", "SignOut", "Login")
                        </p>
                        <a href="javascript:void(0);" onclick="Joke.ShowAuthorizationRequiredPopup()" class="@(isAuthenticated ? "novisible" : "")">ავტორიზაცია</a>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
