﻿@model JokesLib.Models.PagerInfo
@{
    int _pagesCount = (int)Math.Ceiling((decimal)Model.TotalItems / Model.ItemsPerPage);
    if (_pagesCount <= 1 || Model.CurrentPage > _pagesCount) { return; }

    int _pagesFromCurrentPage = 1;
    bool _canShowPrevDots = Model.CurrentPage >= _pagesFromCurrentPage + 3;
    bool _canShowNextDots = Model.CurrentPage <= _pagesCount - _pagesFromCurrentPage - 2;

    int startIndex = Math.Max(2, Model.CurrentPage - _pagesFromCurrentPage);
    int endIndex = Math.Min(_pagesCount - 1, Model.CurrentPage + _pagesFromCurrentPage);
}
<ul class="pagination block-center">
    <li class="@(Model.CurrentPage > 1 ? "" : "novisible")"><a href="@(String.Format(Model.UrlTemplate, Model.CurrentPage - 1))">&laquo;</a></li>
    <li class="@(Model.CurrentPage == 1 ? "active" : String.Empty)">
        <a href="@(String.Format(Model.UrlTemplate, 1))">@(1)</a>
    </li>
    <li class="@(_canShowPrevDots ? "" : "novisible")"><a href="javascript:void(0);">...</a></li>
    @for (int i = startIndex; i <= endIndex; i++)
    {
        <li class="@(Model.CurrentPage == i ? "active" : String.Empty)">
            <a href="@(String.Format(Model.UrlTemplate, i))">@(i)</a>
        </li>
    }
    <li class="@(_canShowNextDots ? "" : "novisible")"><a href="javascript:void(0);">...</a></li>
    <li class="@(Model.CurrentPage == _pagesCount ? "active" : String.Empty)">
        <a href="@(String.Format(Model.UrlTemplate, _pagesCount))">@(_pagesCount)</a>
    </li>
    <li class="@(Model.CurrentPage < _pagesCount ? "" : "novisible")"><a href="@(String.Format(Model.UrlTemplate, Model.CurrentPage + 1))">&raquo;</a></li>
</ul>