﻿.login-form {
    margin: 0 auto;
    width: 320px;
    margin-top: 100px;
}
.login-label {
    width: 80px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
    text-align: center;
}